.header {
    height: 200px;
    padding: 30px;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.82), rgba(28, 28, 28, 0.3)),
        url(/static/picture/lunettes.jpg) center center / cover no-repeat;
    color: whitesmoke;
}


.baseline {
    text-align: center;
}

.header-title {
    font-family: fantasy, serif;
    font-size: 100px;
    color: rgb(255, 158, 30);
    display: block;
    padding-right: 100px;
}

.slogan {
    font-family: cursive;
    font-size: 30px;
    font-weight: lighter;
    padding-left: 300px;
}

.main {
    background: lightgray;
    padding: 20px;
}

#request-input-form {
    text-align: center;
}

.input-user-text {
    width: 500px;
    font-size: 16px;
}

input[type=submit] {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #ff9e1e;
    color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

input[type=submit]:active {
    transform: scale(0.98);
    box-shadow: 6px 6px 18px 2px rgba(0, 0, 0, 0.4);
}

#spinner{
    visibility: hidden;
    width: 80px;
    height: 80px;
  
    border: 5px solid #f3f3f3;
    border-top: 5px solid dodgerblue;
    border-radius: 100%;
  
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
  
    animation: spin 1s infinite linear;
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
  
#spinner.show {
    visibility: visible;
  }

.footer {
    background: grey;
    padding: 20px 20px;
}

.section-link {
    text-align: center;
}

.section-link a {
    color: whitesmoke;
    padding-right: 50px;
    padding-left: 50px;
    text-decoration-line: none;
}

.section-link a:hover {
    text-decoration-line: underline;
}

@media only screen and (max-width: 920px) {
    .header {
        height: 100px;
    }
    .header-title {
        font-size: 20px;
        padding-right: 0px;
    }
    .slogan {
        font-size: 16px;
        padding-left: 0px;
    }
    .section-link a {
        padding-left: 10px;
        padding-right: 10px;
    }
}
