.header {
    height: 200px;
    padding: 30px;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0.82), rgba(28, 28, 28, 0.3)),
        url(/static/picture/lunettes.jpg) center center / cover no-repeat;
    color: whitesmoke;
}

.baseline {
    text-align: center;
}

.header-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 6rem;
    color: rgb(255, 158, 30);
    display: block;
    padding-right: 300px;
}

.slogan {
    font-family: cursive, sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    padding-left: 320px;
}

.main {
    background: lightgray;
    padding: 20px;
}

#request-input-form {
    text-align: center;
}

.input-user-text {
    width: 800px;
    font-size: 1rem;
    outline: none;
}

input[type=submit] {
    font-size: 1.25rem;
    padding: 12px;
    margin: 12px;
    border: none;
    background-color: #ff9e1e;
    color: #fff;
    border-radius: 10px;
    box-shadow: 6px 6px 20px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

input[type=submit]:active {
    transform: scale(0.98);
    box-shadow: 6px 6px 18px 2px rgba(0, 0, 0, 0.4);
}

#spinner{
    visibility: hidden;
    width: 80px;
    height: 80px;
  
    border: 5px solid #f3f3f3;
    border-top: 5px solid #ff9e1e;
    border-radius: 100%;
  
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
  
    animation: spin 2s infinite linear;
}
  
@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}
  
#spinner.show {
    visibility: visible;
  }

.answer {
  text-align : center;
  font-family: system-ui;
  line-height : 1.25;
  margin-top : 20px;
  margin-bottom : 10px;
  background-color : #ff9e1e;
  border-radius: 10px;
  padding : 5px;
}

.response-display {
    font-family: system-ui;
    line-height: 1.25;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    background-color: #AADAFF;
    border-radius: 10px;
    padding: 5px;
}

.response-url {
    display: block;
    margin-bottom: 10px;
    font-family: system-ui;
    line-height: 1.25;
    background-color: #AADAFF;
    border-radius: 10px;
    padding: 5px;
}

.map-response {
    width: auto;
    height: 400px;
}

.hr-response {
    height: 3px;
    background-color: black;
}

.footer {
    background: grey;
    padding: 20px 20px;
}

.section-link {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.section-link a {
    display: inline-block;
    color: whitesmoke;
    padding-right: 5%;
    padding-left: 5%;
    text-decoration-line: none;
}

.section-link a:hover {
    text-decoration-line: underline;
}

@media only all and (max-width: 890px) {
    .header {
        height: 100px;
    }

    .header-title {
        font-size: 2.75rem;
        padding-right: 0px;
    }

    .slogan {
        font-size: 1.25rem;
        padding-left: 0px;
    }

    .input-user-text {
        width: 100%;
    }

    .section-link a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only all and (max-width: 380px) {
    .header {
        height: 100px;
    }

    .header-title {
        font-size: 1.75rem;
        padding-right: 0px;
    }

    .slogan {
        font-size: 1.25rem;
        padding-left: 0px;
    }

    .input-user-text {
        width: 100%;
    }

    .section-link a {
        padding-left: 10px;
        padding-right: 10px;
    }
}
