.header {
    background: grey;
    padding: 30px;
}

.header-title {
    color: whitesmoke;
    font-family: fantasy, sans-serif;
    text-align: center;
}

.main {
    background: lightgray;
    padding: 20px;
    text-align: center;
}

.intro {
    font-weight: lighter;
}

.input-user-text {
    width: 500px;
    font-size: 16px;
}

.footer {
    background: grey;
    padding: 20px 20px;
}

.section-link {
    text-align: center;
}

.section-link a {
    padding-right: 50px;
    padding-left: 50px;
    text-decoration-line: none;
}

.section-link a:hover {
    text-decoration-line: underline;
}