<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>GrandPy Bot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="GrandPy Bot, le papy robot">
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}/>
    </head>
    <body>
        <header class="header">
            <h1 class="header-title">GrandPy Bot, le papy robot qui en a dans le ciboulot</h1>
        </header>
        <section class="main">
            <h3 class="intro">J'ai d'énormes connaissances sur les lieux et leur histoire. Poses-moi une question pour me tester!</h3>
            <form id="request-input-form">
                <label for="userText"></label>
                <input type="text" name="userText" id="userText" class="input-user-text" placeholder="Pour ta recherche, c'est ici!" autofocus>
                <input type="submit" value="Envoyer">
            </form>

            <script>
                let form =document.querySelector("#request-input-form");

                form.addEventListener("submit", function (event){
                    event.preventDefault();
                    
                    // Envoyer le contenu du formulaire au serveur
                    fetch("/ajax", {
                        method: "Post",
                        body: new FormData(form)
                    }).then(function(response) {
                        console.log(response.json())
                            });
                })
            </script>

        </section>
        <footer class="footer">
            <section class="section-link">
                <a href="https://www.linkedin.com/in/fabrice-pringuet-5a55b796/" target="_blanck" title="linkedin">linkedin de Fabrice Pringuet</a>
                <a href="https://github.com/Fabe59/Projet7" target="_blanck" title="github">Lien vers le repository de ce projet</a>
                <a href="https://twitter.com/FabePrgt" target="_blanck" title="twitter">Me suivre sur twitter</a>
            </section>
        </footer>
    </body>
</html>