<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="GrandPy Bot, le papy robot">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>GrandPy Bot</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header class="header">
            <div class="baseline">
                <span class="header-title">GrandPy Bot</span>
                <span class="slogan">le papy robot qui en a dans le ciboulot</span>
            </div>
        </header>
        <div class="main">
            <form id="request-input-form">
                <label for="userText"></label>
                <input type="text" name="userText" id="userText" class="input-user-text" placeholder="Pour ta recherche, c'est ici!" autofocus>
                <input type="submit" value="Envoyer">
            </form>
            <div id="response"></div>
                <div id="spinner"></div>
                <script src='static/javascript.js'></script>
                <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}"></script>
            </div>
        <footer class="footer">
            <div class="section-link">
                <a href="https://www.linkedin.com/in/fabrice-pringuet-5a55b796/" target="blanck" title="linkedin">Mon Linkedin</a>
                <a href="https://github.com/Fabe59/Projet7" target="blanck" title="github">Github du projet</a>
                <a href="https://twitter.com/FabePrgt" target="blanck" title="twitter">Me suivre sur Twitter</a>
            </div>
        </footer>
    </body>
</html>